.app {
  min-height: auto;
  min-width: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark .app {
  background-image: url("../utils/background2.avif");
  background-size: cover;
  background-repeat: no-repeat;
}

.light .app {
  background-image: url("../utils/background.avif");
  background-size: cover;
  background-repeat: no-repeat;
}