.dark .app {
  height: 100vh;
  width: 100vw;

  background-image: url("../utils/background3.avif");
}

.light .app {
  height: 100vh;
  width: 100vw;

  background-image: url("../utils/background.avif");
}