#intro_container, #about_me {
  cursor: default;
}

#intro_container {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.waving_hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }
100% { transform: rotate( 0.0deg) }
}

#intro_container .MuiDivider-root {
  margin-bottom: 50px;
}

.MuiTypography-h3.css-gepadz-MuiTypography-root {
  margin-bottom: 30px;
}

#about_me {
  margin-top: 50px;
  margin-bottom: 150px;
  text-align: center;
}

#about_me .MuiContainer-root {
  margin-top: 10px;
}

.MuiTypography-root > ul {
  list-style: none;
}

#projects > :first-child {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

#projects .MuiContainer-root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

.project_card.MuiGrid-root {
  max-width: 360px;
}

.css-1qxadfk-MuiPaper-root-MuiDialog-paper {
  text-align: center;
}

.css-hlj6pa-MuiDialogActions-root {
  display: flex;
  justify-content: space-evenly;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

#contacts {
  text-align: center;
}


.MuiContainer-root > a {
  text-decoration: none;
}

.MuiDivider-root.divider {
  margin: 20px 50px;
}
